if SHIELD_TD34_LEFT

config ZMK_KEYBOARD_NAME
    default "TrongDong34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TD34_LEFT || SHIELD_TD34_RIGHT

config ZMK_SPLIT
    default y

endif