#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp Q   &kp W           &kp F               &kp P      &kp G                    &kp J                &kp L            &kp U    &kp Y  &kp SEMICOLON
 &mt LEFT_GUI A   &kp R  &mt LEFT_ALT S  &mt LEFT_CONTROL T      &kp D                    &kp H  &mt RIGHT_CONTROL N  &mt RIGHT_ALT E    &kp I          &kp O
          &kp Z   &kp X           &kp C               &kp V      &kp B                    &kp K                &kp M        &kp COMMA  &kp DOT   &kp QUESTION
                                                      &mo 2  &kp SPACE          &sk RIGHT_SHIFT                &sl 1
            >;
        };

        Layer__1 {
            bindings = <
 &kp ESC  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS            &kp             &kp     &kp     &kp     &kp     &kp
 &kp TAB               &kp             &kp                   &kp            &kp             &kp     &kp     &kp     &kp     &kp
     &kp               &kp             &kp                   &kp            &kp             &kp     &kp     &kp     &kp     &kp
                                                          &trans  &kp BACKSPACE          &trans  &trans
            >;
        };

        Layer__2 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                         &trans  &trans          &trans  &trans
            >;
        };
    };
};
